In [1]:
import pandas as pd
import re

In [34]:
# Load data into a pandas df
df_true = pd.read_csv('../data/raw_data/True.csv')
df_true

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [16]:
# remove duplicate items
df_true.drop_duplicates(inplace=True)
df_true

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [17]:
# Create new df with text column only
df_true_small = df_true.drop(columns=['title', 'subject', 'date'], axis=0)
df_true_small.head()

                                                text
0  WASHINGTON (Reuters) - The head of a conservat...
1  WASHINGTON (Reuters) - Transgender people will...
2  WASHINGTON (Reuters) - The special counsel inv...
3  WASHINGTON (Reuters) - Trump campaign adviser ...
4  SEATTLE/WASHINGTON (Reuters) - President Donal...

In [18]:
# check for null values
df_true_small.isnull().sum()

text    0
dtype: int64

In [19]:
#
df_true_small = df_true_small.drop_duplicates()
df_true_small.duplicated().sum()

0

In [20]:
df_true_small['is_fake'] = 0

In [21]:
df_true_small.reset_index(drop=True, inplace=True)

In [22]:
def remove_city_name(text):
    pattern = r'(?:[A-Z]+(?:[ \/][A-Z]+)* )?\(Reuters\) - '
    return re.sub(pattern, '', text)

In [23]:
df_true_small['text'] = df_true_small['text'].apply(remove_city_name)
df_true_small.head()

                                                text  is_fake
0  The head of a conservative Republican faction ...        0
1  Transgender people will be allowed for the fir...        0
2  The special counsel investigation of links bet...        0
3  Trump campaign adviser George Papadopoulos tol...        0
4  President Donald Trump called on the U.S. Post...        0

In [24]:
df_true_clean = df_true_small.copy()
df_true_clean

                                                    text  is_fake
0      The head of a conservative Republican faction ...        0
1      Transgender people will be allowed for the fir...        0
2      The special counsel investigation of links bet...        0
3      Trump campaign adviser George Papadopoulos tol...        0
4      President Donald Trump called on the U.S. Post...        0
...                                                  ...      ...
21187  NATO allies on Tuesday welcomed President Dona...        0
21188  LexisNexis, a provider of legal, regulatory an...        0
21189  In the shadow of disused Soviet-era factories ...        0
21190  Vatican Secretary of State Cardinal Pietro Par...        0
21191  Indonesia will buy 11 Sukhoi fighter jets wort...        0

[21192 rows x 2 columns]

In [35]:
df_true_clean.to_csv('../data/cleaned_data/true_cleaned.csv', index=False)